.intro {
  display: table;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}
.intro::before {
  content: "";
  background-image: url("../img/intro-bg.jpg");
  opacity: 0.35;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: zoom 140s ease-in-out infinite;
}
@media (min-width: 1200px) {
  .intro::before {
    background-image: url("../img/intro-bg-2x.jpg");
  }
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  padding: 120px 0;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.intro .intro-body .brand-heading img {
  width: 100%;
  max-width: 600px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro .intro-body .intro-text {
    font-size: 24px;
  }
}
.intro .intro-body .links img {
  width: 72px;
  height: 72px;
}
@-webkit-keyframes zoom {
  0%,
  100% {
    transform: translateX(50%) translateY(60%) scale(2.2);
  }
  25% {
    transform: translateX(20%) translateY(-20%) scale(1.5);
  }
  50% {
    transform: translateX(-50%) translateY(65%) scale(2.3);
  }
  75% {
    transform: translateX(-25%) translateY(-35%) scale(1.6);
  }
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
